body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: #f4f4f4;
 }
 
 .container {
     width: 80%;
     margin: 0 auto;
     padding: 0 20px;
     /* background-color: #8ae33c; */
 }
 
 header {
     background-color: #333;
     color: #fff;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
 }
 header .container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 60px;
 }
 header h1 {
     margin: 0;
     font-size: 2em;
 }
 
 nav {
     text-align: right;
 }
 
 nav ul {
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
 }
 
 nav ul li {
     margin-left: 20px;
 }
 
 nav ul li a {
     color: #fff;
     text-decoration: none;
     font-weight: bold;
     padding: 20px;
     font-size: 1.2rem;
 }
 nav ul li a:hover{
     color: aqua;
 }
 .hero {
     background: linear-gradient(to left, rgb(216, 243, 62) , rgb(243, 172, 66));
     color: #333;
     text-align: center;
     padding: 100px 0;
 }
 
 .hero h2 {
     font-size: 2.5em;
 }
 
 .hero p {
     font-size: 1.2em;
 }
 
 .hero .btn {
     display: inline-block;
     margin-top: 20px;
     padding: 10px 20px;
     background-color: #ff6347;
     color: #fff;
     text-decoration: none;
     font-weight: bold;
 }
 
 .featured-product {
     
     padding: 50px 0;
     text-align: center;
     color: #333;
     background: linear-gradient(to right, rgb(216, 243, 62) , rgb(243, 172, 66));
 }
 
 .featured-product h2 {
     font-size: 2em;
     margin-bottom: 20px;
 }
 
 .product {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .product img {
     width: 300px;
     height: 400px;
     margin-right: 20px;
     border-radius: 10px;
 }
 
 .product-info {
     max-width: 500px;
     text-align: left;
 }
 
 .product-info h3 {
     font-size: 1.5em;
 }
 
 .product-info p {
     font-size: 1em;
     margin: 10px 0;
 }
 
 .product-info .price {
     font-size: 1.2em;
     font-weight: bold;
     color: #ff6347;
 }
 
 .product-info .btn {
     display: inline-block;
     margin-top: 10px;
     padding: 10px 20px;
     background-color: #333;
     color: #fff;
     text-decoration: none;
     font-weight: bold;
 }
 
 .product-list {
    
     background: url('images/bg.jpg') no-repeat center center/cover;
     padding: 50px 0;
     text-align: center;

 }
 
 .product-list h2 {
     font-size: 2em;
     margin-bottom: 20px;
     color: #fff;
 }
 
 .product-item {
     display: inline-block;
     width: 30%;
     margin: 60px;
     padding: 10px;
     background-color: #f6a151;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-radius: 20px;
 }
 
 .product-item img {
     width: 100%;
     height: 250px;
     border-radius: 10px;
 }
 
 .product-item h3 {
     font-size: 1.2em;
     margin: 10px 0;
 }
 
 .product-item .price {
     font-size: 1.2em;
     font-weight: bold;
     color: #2d2928;
 }
 
 .product-item .btn {
     display: inline-block;
     margin-top: 10px;
     padding: 10px 20px;
     background-color: #333;
     color: #fff;
     text-decoration: none;
     font-weight: bold;
     border-radius: 5px;
 }
 
 footer {
     background-color: #333;
     color: #fff;
     text-align: center;
     padding: 20px 0;
 }
 
 footer .container {
     
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .social-media a {
     color: #fff;
     margin: 0 10px;
     text-decoration: none;
     font-size: 1.2em;
 }
 .social-media a:hover{
     color: aqua;
 }
 